@model BooksListViewModel
@{
    string strTitle = "Панель администратора";
    ViewBag.Title = strTitle;
}
<div>
    <h2>@strTitle</h2>
    <h3>Редактирование страницы сайта</h3>
    <div class="div-box Div-box-custom">
        <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageIndex">Главная</a>
        <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageServices">Наши книги</a>
        <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageContacts">Контакты</a>
    </div>
    <div>
        <div class="div-box UserManager">
        <a asp-area="Admin" asp-controller="UsersShow" asp-action="UsersShow">Управление пользователями</a>
        </div>
        <div class="div-box Div-box-custom">
            <a asp-area="Admin" asp-controller="Books" asp-action="AddAuthor" asp-route-id="">Добавить автора</a>
            <a asp-area="Admin" asp-controller="Books" asp-action="AddGenre" asp-route-id="">Добавить жанр</a>
            <a asp-area="Admin" asp-controller="Books" asp-action="Edit" asp-route-id="">Добавить книгу</a>
        </div>
        <h3>Наши книги:</h3>
        <div class="BooksShow">
            @foreach (var entity in Model.Books)
            {
                <div class="OnceBookElement">
                    <a asp-area="" asp-controller="BooksShow" asp-action="Index" asp-route-id="@entity.Id">
                    @($"{entity.Title}")
                    </a>
                    <a asp-area="Admin" asp-controller="Books" asp-action="Edit" asp-route-id="@entity.Id">редактировать</a>
                    <form style="display: inline-block;" id="form-@entity.Id" asp-area="Admin" asp-controller="Books" asp-action="Delete" method="post">
                        <input type="hidden" name="id" value="@entity.Id">
                        <a class="Alert" href="#" onclick="document.getElementById('form-@entity.Id').submit();">Удалить</a>
                    </form>
                </div>
            }
        </div>
    </div>
    
</div>
