@model IQueryable<Book>
@{
    string strTitle = "Панель администратора";
    ViewBag.Title = strTitle;
}
<div>
    <h2>@strTitle</h2>
    <div>
        <a asp-area="Admin" asp-controller="UsersShow" asp-action="UsersShow"><h3 class="H2Title">Управление пользователями</h3></a>
        <h3>Наши книги</h3>
        <div class="div-box">
            <a asp-area="Admin" asp-controller="Books" asp-action="AddAuthor" asp-route-id="">Добавить автора</a>
            <a asp-area="Admin" asp-controller="Books" asp-action="AddGenre" asp-route-id="">Добавить жанр</a>
            <a asp-area="Admin" asp-controller="Books" asp-action="AddBook" asp-route-id="">Добавить книгу</a>
        </div>
        @if (Model.Any())
        {
            <div>
                @foreach (Book entity in Model)
                {
                    <div>
                        <a asp-area="Admin" asp-controller="Books" asp-action="Edit" asp-route-id="@entity.Id">редактировать</a>
                        <form style="display: inline-block;" id="form-@entity.Id" asp-area="Admin" asp-controller="Books" asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@entity.Id">
                            <a href="#" onclick="document.getElementById('form-@entity.Id').submit();">Удалить</a>
                        </form>
                        <a asp-area="" asp-controller="BooksShow" asp-action="Index" asp-route-id="@entity.Id">
                            @($"{entity.Title}")
                        </a>
                    </div>
                }
            </div>
        }
    </div>
    <div class="div-box">
        <h3>Редактирование страницы сайта</h3>
        <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageIndex">Главная</a>
        <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageServices">Наши книги</a>
        <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageContacts">Контакты</a>
    </div>
</div>
