@model IQueryable<Booking>
@{
    TextField textField = ViewBag.TextField;
}
<div>
    @if (Model.Any())
    {
        <ul>
            @foreach (Booking entity in Model)
            {
                <li>
                    <p>Название книги: @entity.BooksTitle</p>
                    <p>ID книги: @entity.BookId</p>
                    <p>Дата создания брони: @entity.CreateOn</p>
                    <p>Email пользователя: @entity.UserEmail</p>
                    <a asp-area="" asp-controller="BookingShow" asp-action="BookingShow" asp-route-id="@entity.Id">
                        <h2 class="H2Title">Перейти к брони</h2>
                    </a>
                    <hr>
                </li>  
            }
        </ul>
    }
</div>
