@model IQueryable<Book>
@{
    string strTitle = "Панель модератора";
    ViewBag.Title = strTitle;
}
<div>
    <h2>@strTitle</h2>
    <a asp-area="Moderator" asp-controller="Home" asp-action="BookingShow"><h3 class="H2Title">Показать брони</h3></a>
    <div>
        <h3>Наши книги</h3>
        <div class="div-box">
            <a asp-area="Moderator" asp-controller="Books" asp-action="Edit" asp-route-id="">Добавить книгу</a>
        </div class="BooksShow">
        @if (Model.Any())
        {
            <div>
                @foreach (Book entity in Model)
                {
                    <div class="OnceBookElement">
                        <a asp-area="Moderator" asp-controller="Books" asp-action="Edit" asp-route-id="@entity.Id">редактировать</a>
                        <form style="display: inline-block;" id="form-@entity.Id" asp-area="Moderator" asp-controller="Books" asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@entity.Id">
                            <a href="#" onclick="document.getElementById('form-@entity.Id').submit();">Удалить</a>
                        </form>
                        <a asp-area="" asp-controller="BooksShow" asp-action="Index" asp-route-id="@entity.Id">
                            @($"{entity.Title}")
                        </a>  
                    </div>
                }
            </div>
        }
    </div>
</div>
