@model UserModel
@{
    TextField textField = ViewBag.TextField;
}
<h2>Электронная почта: @Model.UserEmail</h2>
<h2>Имя пользователя: @Model.UserName</h2>
<h2>Дата регистрации: @Model.CreateOn</h2>
<h2>Брони пользователя:</h2>

    @if (Model.Bookings != null)
    {
    
        @foreach (var item in Model.Bookings)
        {
            <p>Название книги: @item.BooksTitle</p>
            <p>Дата создания брони: @item.CreateOn</p>
            <p>Дата окончания брони: @item.FinishedOn</p>
            @if (@item.IssueBooking)
            {
                <p class="Alert">Книга выдана</p>
            }
            else
            {
                <p>Книга ожидает выдачи</p>
            }
            <hr>
        }
        <form style="display: inline-block;" id="form-@Model.Id" asp-area="Admin" asp-controller="UsersShow" asp-action="CancelUser" method="post">
            <input type="hidden" name="id" value="@Model.Id">
            <a class="glo" href="#" onclick="document.getElementById('form-@Model.Id').submit();">Анулировать брони</a>
        </form>
    }
    else
    {   
        <p>У пользователя пока нет броней</p>
            <form style="display: inline-block;" id="form-@Model.Id" asp-area="Admin" asp-controller="UsersShow" asp-action="Delete" method="post">
            <input type="hidden" name="id" value="@Model.Id">
            <a class="glo" href="#" onclick="document.getElementById('form-@Model.Id').submit();">Удалить пользователя</a>
        </form>
    }
