@model BooksListViewModel
@{
    TextField textField = ViewBag.TextField;

    ViewBag.Title = textField.MetaTitle;
    ViewBag.Description = textField.MetaDescription;
    ViewBag.Keywords = textField.MetaKeywords;
}
<div>
@*<form asp-controller="BookShow" asp-action="Show" method="get">
    <div class="form-inline form-group">
        <label class="control-label">Автор: </label>
        <select>
             @foreach (var item in Model.Genres)
            {
                <option value="@item.GenreName">@item.GenreName</option>
            }
        </select>
       
        <label class="control-label">Жанр: </label>
        <select>
             @foreach (var item in Model.Authors)
            {
                <option value="@item.AuthorName">@item.AuthorName</option>
            }
        </select>
        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>*@
<ul class="big-image-list">
    @foreach (BookViewModel entity in Model.Books)
    {
        <li>
        <a asp-area="" asp-controller="BooksShow" asp-action="Index" asp-route-id="@entity.Id">
            <img src="~/images/@entity.TitleImagePath" alt="" class="left">
        </a>
        <h4>@entity.Title</h4>
        <p>@entity.SubTitle</p>
        </li>
    }
</ul>
</div>
