@model BookViewModel

@*@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.KeyWords = Model.MetaKeywords;
}*@
<script src="~/js/ckeditor/ckeditor.js"></script>

<div>
    <h2>@Model.Title</h2>
    <h3>@Model.SubTitle</h3>
    <div>
        <img class="img-block" src="~/images/@Model.TitleImagePath">
    </div>
    <div class="indent"></div>
    <h3>Колличество в наличии: @Model.BooksCount</h3>
</div>
<div>
    @Html.Raw(Model.Text)
</div>
<hr>
@await Html.PartialAsync("CommentPartial")
<div>
    <form asp-controller="Comment" asp-action="Write" method="post" enctype="multipart/form-data">
    <div class="div-box">
        <textarea asp-for="Text"></textarea>
        <span asp-validation-for="Text"></span>
    </div>
    <div hidden class="div-box">
        <textarea asp-for="BookId"></textarea>
        <span asp-validation-for="BookId"></span>
    </div>
    <input type="submit" value="Оставить комментарий" class="glo">
    </form>
    <form asp-controller="Booking" asp-action="Booking" method="post" enctype="multipart/form-data">
        <div hidden class="div-box">
        <textarea asp-for="BookId"></textarea>
        <span asp-validation-for="BookId"></span>
        </div>
        <div hidden class="div-box">
        <textarea asp-for="BooksCount"></textarea>
        <span asp-validation-for="BooksCount"></span>
        </div>
        <div class="div-box">
            @if (Model.BooksCount <= 0)
            {
                <h2>Книги нет в наличии, бронь не возможна</h2>
            }
            else
            {
                <input type="submit" value="Бронировать" class="glo">
            }
        </div>
    </form>
</div>
<script>
    window.onload = function() { 
        var newCKEdit = CKEDITOR.replace('@Html.IdFor(x=>x.Text)');
        newCKEdit.updateElement();
    }
</script>

